@import 'normalize';

$font-stack: helvetica, sans-serif;

html {
    font: $font-stack;
}




.header {
  background-color:#FF5454;
  background: -webkit-linear-gradient(bottom,#ff7676 , #FF5454); /*Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top,#ff7676 , #FF5454); /* For Opera 11.1 0 */
  background: -moz-linear-gradient(top,#ff7676 , #FF5454); /* Firefox 3.6 to 15 */
  background: linear-gradient(to top, #ff7676 , #FF5454); /* Standard syntax */
  height: 100vh;
  background-size: cover;
  margin-bottom: 50px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:white;
}

.title {
    font-size: 60px;
    margin: 0;
}
