doctype html
html
    head
        title="Web App"
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='css/app.css', rel='stylesheet')

    body
        header
            .logo

            nav
                a(href="#") About
                a(href="#") Donate
                a(href="#") Contact
            h1
                span Web App
            p.kicker The webiest web app ever...
