@import '../partials/mixins';

h2 {
    font-family: 'Open Sans', sans-serif;
}

header {
    @include linear-gradient(bottom, #e06868, #fefefe);
    height: 100vh;
    background-size: cover;
    margin-bottom: 50px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.title {
    font-size: 6em;
    margin: 10px;
    font-family: 'Kaushan Script', cursive;
}


#cta {
    background: #ffffff;
    @include border-box;
    margin-bottom: 100px;
}

#footer {
    height:25%;
    background: #777;
    
ul {
    list-style-type: none;
}

}