h2 {
  font-family: 'Open Sans', sans-serif; }

.header {
  background: -webkit-linear-gradient(top, #e06868, #d94343);
  /*Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top, #e06868, #d94343);
  /* For Opera 11.1 0 */
  background: -moz-linear-gradient(top, #e06868, #d94343);
  /* Firefox 3.6 to 15 */
  background: linear-gradient(to top, #e06868, #d94343);
  /* Standard syntax */
  height: 100vh;
  background-size: cover;
  margin-bottom: 50px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white; }

.section {
  width: 75%;
  margin: auto; }

.title {
  font-size: 60px;
  margin: 0;
  font-family: 'Kaushan Script', cursive; }
