header
    background: url(../../img/hero2.jpg)
    height: 100vh
    background-size: cover

    .container
        @include outer-container
        .logo

            background-color: #777
            +size(50px)
            border-radius: 50px
            margin: 10px 0px 0px 10px
            float: left


        nav
            float: right
            margin: 30px 30px auto auto
            a
                display: inline-block
                color: rgba(255,255,255,0.5)
                padding-left: 30px
                font:
                    size: 20px
                    weight: 700
                text-transform: uppercase

                &:hover
                    color: rgba(255,255,255,1)

        h1
            text-allign: center
            color: white
            font:
                size: 40px
                weight: 700
            display: flex
            justify-content: center
            text-transform: uppercase
            letter-spacing: 0.1em
            margin-bottom: 20px
            clear: both
            padding-top: 25vh
            span
                justify-content: center
                padding: 0.5em
                border: white solid 10px
        .kicker
            display: flex
            justify-content: center
            text-allign: center
            color: white
            font:
                weight: 700
            letter-spacing: 0.1em
            text-transform: uppercase
            line-height: 1


footer
    @include linear-gradient(to top, #F39662 , #D0837F)
    height: 75px
    background-size: cover

    .lockup
        @include outer-container
        display: flex
        justify-content: center
        .logo
            background-color: #777
            +size(50px)
            border-radius: 50px
            margin: 10px 0px 0px 10px

        span
            display: flex
            flex-direction: column
            nav
                a
                    color: rgba(255,255,255,0.5)
                    padding-left: 30px
                    font:
                        size: 15px
                        weight: 700
                    text-transform: uppercase

                    &:hover
                        color: rgba(255,255,255,1)
            p.copyright
                padding-left: 30px
                color: rgba(255,255,255,0.3)
                font:
                        size: 11px
                        weight: 700
                        clear: both
                text-transform: uppercase
